.sign-up {
    height: 60vh;
    margin: 5vh 20vw;
}

form {
    background-color: var(--blue-light);
    padding: 5vh 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    box-shadow: 0 0 1em rgb(40, 40, 40);
}

input {
    padding-left: 5%;
    line-height: 10vh;
    margin: 2% 10%;
    border-radius: 20px;
    border: 1px solid white;   
    box-shadow: 0 0 1em var(--blue-dark);
    transition: 0.3s;
}

input:hover {
    box-shadow: 0 0 2em #000;
}

.submit {
    font-weight: 700;
    margin: 5% 30% 0;
    background-color: var(--blue-dark);
    color: white;
    border: 2px solid white;
    padding: 2.5% 0;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0 0 1em var(--blue-dark);
}

.submit:hover {
    background-color: #fff;
    color: var(--blue-dark);
    border: 2px solid #fff;
    box-shadow: 0 0 1em #000;
}

.sign-in {
    margin-top: 5vh;
    text-align: center;
}

p > a {
    font-size: 18px;
    text-decoration: none;
    color: var(--green-dark);
    font-weight: 700;
}

p > a:hover {
    text-decoration: underline;
}

.error {
    margin-bottom: 5vh;
    text-align: center;
    color: var(--red-dark);
    font-weight: 700;
}

.error-password {
    margin-bottom: 2vh;
    text-align: center;
    color: var(--red-dark);
    font-weight: 700;
    font-size: 15px;
}
